<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please provide an URL</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="URL..." name="url" id="url" value="">
        <input class="btn btn-default" type="submit" value="Shorten">
      </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
  </body>
</html>